# Port To Run Server
PORT=your_port

# JSON Web Token Secret Key
JWT_SECRET=your_jwt_secret

# Mongo DB Connection String
MONGODB_URI=your_mongodb_connection_string

# Redis Database Credentials
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
