# For Development Only
DEVELOPMENT_MODE=true

# Port To Run Server
PORT=your_port

# JSON Web Token Secret Key
JWT_SECRET=your_jwt_secret

# Mongo DB Connection String
MONGODB_URI=your_mongodb_connection_string
